.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.login-card {
  width: 85%;
  text-align: center;
}

.logo-circle {
  width: 60px;
  height: 60px;
  background: var(--primary-blue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
  color: white;
  font-size: 24px;
  box-shadow: 0 4px 10px rgba(30, 136, 229, 0.3);
}

h2 {
  font-size: 20px;
  color: var(--text-dark);
  margin-bottom: 30px;
  font-weight: 600;
}

.form-group {
  text-align: left;
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 12px;
  color: var(--text-gray);
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid #eee;
  background-color: #f9f9f9;
  font-size: 14px;
  box-sizing: border-box; /* Crucial for width */
  outline: none;
}

input:focus {
  border-color: var(--primary-blue);
  background-color: white;
}

.btn-block {
  width: 100%;
  background-color: var(--primary-blue);
  color: white;
  border: none;
  padding: 14px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(30, 136, 229, 0.3);
}

.forgot-link { margin-top: 20px; }
.forgot-link a { color: var(--text-gray); text-decoration: none; font-size: 12px; }